@{
    ViewData["Title"] = "Contact";
}

<!-- Contact section -->
<section class="cards contact" id="Contact">
    <h2 class="title">Let's work together</h2>

    <div class="content">
        <!-- Card 1 -->
        <div class="card">
            <div class="icon">
                <i class="fas fa-phone"></i>
            </div>
            <div class="info">
                <h3>Phone</h3>
                <p>@ViewBag.Phone</p>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="card">
            <div class="icon">
                <i class="fas fa-envelope"></i>
            </div>
            <div class="info">
                <h3>Email</h3>
                <p>@ViewBag.Email</p>
            </div>
        </div>
    </div>
</section>
